body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}
#container{
    display: flex;
    flex-direction: column;
}
/*couleurs*/
$primary-color:#ff79da;
$secondary-color: #9956dc;
$tertiary-color: #99e2d0;
$color-white: #fff;
$color-black: #000;
$color-gray: #eaeaea;
$footer-color: #1d1d1d;
#loading-text{
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
}
#loader-wrapper{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $color-white;
    animation: loader .01s;
    animation-delay: 3s;
    animation-fill-mode: none;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes loader{
    100%{
        opacity: 0;
        z-index: -10;
    }
}
#loading-dots > div{
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    display: inline-block;
    animation: 1.5s bounce infinite ease-in-out both;
}
#loading-dots .bounce{
    animation-delay: -0.30s;
    background-color: $primary-color;
}
#loading-dots .bounce2{
    animation-delay: -0.15s;
    background-color:  $tertiary-color;
}
.bounce3{
    background-color: $secondary-color;
}
@keyframes bounce{
    0%,80%,100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}
#header-logo{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#logo{
    width: 400px;
    height: auto;
} 
#first{
    display: flex;
    flex-direction: column;
    background-color: $color-gray;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 10px;
}
input{
    border: none;
    background-color: inherit;
    opacity: 1;
    font-weight: bold;
    color: black;
    padding-left: 15px;
}
#search-bar{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding: 6px 0 6px 0;
    box-shadow: 0px 4px 4px lightgrey inset;
    background-color: rgb(228, 226, 226);
}
p{
    font-size: 14px;
}
.explore-btn{
    color: $color-white;
    background: linear-gradient($primary-color, $secondary-color);
    border-radius: 25px;
    text-align: center;
    padding: 10px 15px 10px 15px;
}
.explore-btn:hover{
    box-shadow: 0px 4px 4px darkgray;
}
a{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}
#second{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
#functioning{
    padding-right: 15px;
}
.presentation{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
}   
.icon-variant{
    color: $secondary-color;
}
.number{
    color: $color-white;
    background-color: $secondary-color;
    border-radius: 50%;
    padding: 5px 10px 5px 8px;
    margin-left: -1em;
    position: absolute;
    left: 3%;
    top: 12%;
}
.text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 25px;
    text-align: center;
    margin: 6px 10px 6px 12px;
    background-color: $color-gray;
    position: relative;
    width: 300px;
    padding: 11px 8px 11px 8px;
}
.icon{
    width: 30px;
    color: #7e7e7e;
}
img{
    width: 800px;
    height: 190px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#restaurants{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $color-gray;
    justify-content: center;
    background: linear-gradient($color-white,$tertiary-color,$color-white,$primary-color);
    
}
.menu-card{
    margin-bottom: 30px;

}
.bold{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
h2, h3{
    font-weight: bold;
    margin: 20px;
}
h4{
    font-weight: normal;
}
.new{
    position: absolute;
    top: 6%;
    right: 5%;
    background: $tertiary-color;
    padding: 5px 10px 5px 10px;
    color: darkgreen;
}
.heart{
    position: relative;
    height: 16px;
    width: 16px;
}
.heart .heart-full{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.heart:hover .heart-full{
    display: block;
    height: 16px;
    width: 16px;
    overflow: hidden;
    background: -webkit-linear-gradient(70deg, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 0.3s remplissage  ease;
    transform-origin: bottom;
}
@keyframes remplissage{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.heart-empty{
    position: absolute;
    top: 0;
    left: 0;
}
figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    width: 800px;
    height: auto;
    position: relative;
    background-color: $color-white;
    border-radius: 20px;
}
figure:hover{
    box-shadow: 5px 6px 6px $secondary-color;
}
figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.link{
    margin-bottom: 20px;
}
/*footer*/
footer{
    display: flex;
    flex-direction: column;
    background-color: $footer-color;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $color-white;
}
#title{
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    font-size: 15px;
}
.footer-icon{
    color: white;
    padding-right: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 730px){
    #second{
        flex-direction: column;
    }
    #restaurants{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: $color-gray;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    figure{
        min-width: 318px;
        max-width: 360px;
        box-shadow: 5px 6px 6px lightgray;
    }
    figure:hover{
        box-shadow: none;
    }
    img{
        min-width: 318px;
        max-width: 360px;
        max-height: 120px;
    }
    #logo{
        width: 220px;
    }
    #restaurants{
        background: $color-gray;
    }
}
