body {
  font-family: 'Roboto', sans-serif;
  margin: 0%;
  padding: 0%;
}

/*couleurs*/
#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#loader-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  -webkit-animation: loader .01s;
          animation: loader .01s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

#loading-dots > div {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: 1.5s bounce infinite ease-in-out both;
          animation: 1.5s bounce infinite ease-in-out both;
}

#loading-dots .bounce {
  -webkit-animation-delay: -0.30s;
          animation-delay: -0.30s;
  background-color: #ff79da;
}

#loading-dots .bounce2 {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
  background-color: #99e2d0;
}

.bounce3 {
  background-color: #9956dc;
}

@-webkit-keyframes bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#loading-text {
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
}

#header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#logo {
  width: 390px;
  height: auto;
}

#presentation {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  margin-bottom: 20px;
}

#first-title {
  margin-bottom: 0;
}

#first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eaeaea;
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 30px;
}

input {
  border: none;
  background-color: inherit;
  opacity: 1;
  font-weight: bold;
  color: black;
  padding-left: 15px;
  font-size: 14px;
}

#search-bar {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 0 6px 0;
  -webkit-box-shadow: 0px 4px 4px lightgrey inset;
          box-shadow: 0px 4px 4px lightgrey inset;
  background-color: #e4e2e2;
}

p {
  font-size: 15px;
}

#presentation {
  font-family: 'Shrikhand', cursive;
  text-align: center;
}

.explore-btn {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9956dc));
  background: linear-gradient(#ff79da, #9956dc);
  border-radius: 25px;
  text-align: center;
  padding: 10px 15px 10px 15px;
  -webkit-box-shadow: 5px 6px 6px lightgray;
          box-shadow: 5px 6px 6px lightgray;
}

.explore-btn:hover {
  -webkit-box-shadow: 0px 4px 4px darkgray;
          box-shadow: 0px 4px 4px darkgray;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

#second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

#functioning {
  padding-right: 15px;
}

.icon {
  width: 30px;
  color: #7e7e7e;
}

.icon-variant {
  color: #9956dc;
}

.number {
  color: #fff;
  background-color: #9956dc;
  border-radius: 50%;
  padding: 5px 10px 5px 8px;
  margin-left: -1em;
  position: absolute;
  left: 2%;
  top: 14%;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 25px;
  text-align: center;
  margin: 6px 10px 6px 12px;
  background-color: #eaeaea;
  position: relative;
  width: 330px;
  padding: 11px 8px 11px 8px;
  -webkit-box-shadow: 5px 4px 5px lightgray;
          box-shadow: 5px 4px 5px lightgray;
}

/*section*/
#restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #eaeaea;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#99e2d0), color-stop(#fff), to(#ff79da));
  background: linear-gradient(#fff, #99e2d0, #fff, #ff79da);
}

#restaurants-list {
  padding-left: 6px;
}

img {
  width: 800px;
  height: 190px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.link {
  margin-bottom: 20px;
}

.menu-card {
  margin-bottom: 30px;
}

.new {
  position: absolute;
  top: 6%;
  right: 5%;
  background: #99e2d0;
  padding: 5px 10px 5px 10px;
  color: darkgreen;
}

.bold {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h2, h3 {
  font-weight: bold;
  margin: 20px;
}

h4 {
  font-weight: normal;
}

/*animation heart*/
.heart {
  position: relative;
  height: 22px;
  width: 22px;
  font-size: 22px;
}

.heart .heart-full {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.heart:hover .heart-full {
  display: block;
  height: 22px;
  width: 22px;
  overflow: hidden;
  background: -webkit-linear-gradient(70deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-animation: 0.3s remplissage ease;
          animation: 0.3s remplissage ease;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes remplissage {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes remplissage {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.heart-empty {
  position: absolute;
  top: 0;
  left: 0;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 800px;
  height: auto;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
}

figure:hover {
  -webkit-box-shadow: 5px 6px 6px #9956dc;
          box-shadow: 5px 6px 6px #9956dc;
}

figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

/*footer*/
.footer-wrap, ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1d1d1d;
  padding-left: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  list-style-type: none;
}

li {
  margin-bottom: 20px;
}

#title {
  font-family: 'Shrikhand', cursive;
  font-style: italic;
  font-size: 22px;
}

.footer-icon {
  color: #fff;
  width: 20px;
  margin-right: .5rem;
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  #second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: #eaeaea;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 60px;
  }
  figure {
    min-width: 318px;
    max-width: 360px;
    -webkit-box-shadow: 5px 6px 6px lightgray;
            box-shadow: 5px 6px 6px lightgray;
  }
  figure:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  img {
    min-width: 318px;
    max-width: 360px;
    max-height: 120px;
  }
  #logo {
    width: 220px;
  }
  #restaurants {
    background: #eaeaea;
  }
}
/*# sourceMappingURL=home.css.map */