body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

#menu-1,
#menu-2,
#menu-3,
#menu-4 {
  background-color: rgba(234, 234, 234, 0.7);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -1.5rem;
  width: 900px;
}

.container-1,
.container-2,
.container-3,
.container-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#99e2d0), color-stop(white), to(#ff79da));
  background: linear-gradient(white, #99e2d0, white, #ff79da);
}

.first-course,
.second-course,
.final-course {
  margin-bottom: 55px;
  padding-left: 9px;
  padding-right: 9px;
  -webkit-animation: fadein 1.2s .2s ease-out both, transform .2s;
          animation: fadein 1.2s .2s ease-out both, transform .2s;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
}

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 60px;
  text-align: center;
}

.arrow {
  margin-top: 10px;
  color: black;
}

img, .picture {
  width: 70%;
  height: 500px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  padding-left: 12px;
}

.menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-title {
  font-family: 'Shrikhand', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
}

.heart {
  position: relative;
  height: 30px;
  width: 30px;
}

.heart .heart-full {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.heart:hover .heart-full {
  display: block;
  height: 30px;
  width: 30px;
  overflow: hidden;
  background: -webkit-linear-gradient(70deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: 0.3s remplissage ease-in both;
          animation: 0.3s remplissage ease-in both;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes remplissage {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes remplissage {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.heart-empty {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-logo {
  width: 220px;
  height: auto;
}

.side-dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-dish-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dish-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
  -webkit-box-shadow: 5px 6px 6px lightgray;
          box-shadow: 5px 6px 6px lightgray;
  padding-bottom: 6px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.dishes-animation {
  position: absolute;
  width: 75px;
  right: -75px;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  visibility: hidden;
  margin-left: 20px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.dishes:hover .dishes-animation {
  visibility: visible;
  width: 150px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: slide .5 ease;
          animation: slide .5 ease;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.check-circle {
  background-color: #fff;
  color: #99e2d0;
  border-radius: 50%;
  padding: 1px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.check {
  padding: 6px 8px 6px 8px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.line {
  border-bottom: solid 2px #99e2d0;
}

.order-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order:hover {
  -webkit-box-shadow: 0px 4px 4px darkgray;
          box-shadow: 0px 4px 4px darkgray;
}

.order {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  text-align: center;
  padding: 8px 40px 8px 40px;
}

.bold {
  font-weight: bold;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  font-weight: bold;
}

/*footer*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1d1d1d;
  padding-left: 15px;
  color: white;
}

.title {
  font-size: 20px;
  font-style: italic;
  font-family: 'Shrikhand', cursive;
}

.footer-icon {
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 730px) {
  img, .picture {
    width: 100%;
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: unset;
  }
  .menu-wrapper {
    background: none;
  }
  #menu-1,
  #menu-2,
  #menu-3,
  #menu-4 {
    min-width: 320px;
    max-width: 730px;
    background-color: #eaeaea;
  }
  .dishes:hover .dishes-animation {
    width: 100px;
  }
  .container-1,
  .container-2,
  .container-3,
  .container-4 {
    background-image: none;
  }
}
/*# sourceMappingURL=menu.css.map */