body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

#menu-1,
#menu-2,
#menu-3,
#menu-4 {
  background-color: #eaeaea;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -1.5rem;
}

.first-course,
.second-course,
.final-course {
  margin-bottom: 55px;
  padding-left: 9px;
  padding-right: 9px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 60px;
  text-align: center;
}

.arrow {
  margin-top: 10px;
}

img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

h3 {
  padding-left: 12px;
}

.menu-title {
  font-family: 'Shrikhand', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
}

.heart {
  position: relative;
  height: 30px;
  width: 30px;
}

.heart-full {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.heart-empty {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-logo {
  width: 220px;
  height: auto;
}

.dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: 5px 6px 6px lightgray;
          box-shadow: 5px 6px 6px lightgray;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.line {
  border-bottom: solid 2px #99e2d0;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.arrow {
  color: black;
}

.order-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  text-align: center;
  padding: 8px 40px 8px 40px;
}

.bold {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.side-dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price {
  font-weight: bold;
}

/*footer*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1d1d1d;
  padding-left: 15px;
  color: white;
}

.title {
  font-size: 20px;
  font-style: italic;
  font-family: 'Shrikhand', cursive;
}

.footer-icon {
  color: white;
}
/*# sourceMappingURL=menu.css.map */