body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
}
.container{
  display: flex;
  flex-direction: column;
  background-color: white;
}
#menu-1,
#menu-2,
#menu-3,
#menu-4{
  background-color: rgba(234, 234, 234, 0.7);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -1.5rem;
  width: 900px;
}
.container-1,
.container-2,
.container-3,
.container-4{
  background: linear-gradient(white,#99e2d0,white,#ff79da);
}
.first-course,
.second-course,
.final-course{
  margin-bottom: 55px;
  padding-left: 9px;
  padding-right: 9px;
  animation: fadein 1.2s .2s ease-out both, transform .2s;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
}
@keyframes fadein{
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 60px;
  text-align: center;
}
.arrow{
  margin-top: 10px;
  color: black;
}
img,.picture{
  width: 70%;
  height: 500px;
  border-radius: 30px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto
}
h3{
  padding-left: 12px;
}
.menu-wrapper{
  display: flex;
  justify-content: center;
}
.menu-title{
  font-family: 'Shrikhand', cursive;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
}
.heart{
  position: relative;
  height: 30px;
  width: 30px;
}
.heart .heart-full{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.heart:hover .heart-full{
  display: block;
  height: 30px;
  width: 30px;
  overflow: hidden;
  background: -webkit-linear-gradient(70deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 0.3s remplissage ease-in both;
  transform-origin: bottom;
}
@keyframes remplissage{
  0%{
      transform: scale(0);
  }
  100%{
      transform: scale(1);
  }
}
.heart-empty{
  position: absolute;
  top: 0;
  left: 0;
}
.menu-logo{
  width: 220px;
  height: auto;
}
.side-dish{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dishes:hover .side-dish{
  transform-origin: right;
  transform: translateX(-160px);
  animation: slidebis .5 ease;
}
@keyframes slidebis{
  0%{
      transform: scale(0);
  }
  100%{
      transform: scale(1);
  }
}
.side-dish-text{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dish-name{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 5px 6px 6px lightgray;
  padding-bottom: 6px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.dishes{
  display: flex;
  margin-bottom: 10px;
  transform: translateX(0) ;
}
.dishes-animation{
  position: absolute;
  width: 75px;
  right: -75px;
  height: 74px;
  display: flex;
  justify-content: center;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  visibility: hidden;
  margin-left: 20px;
  transition-duration: .5s;
}
.dishes:hover .dishes-animation{
  visibility: visible;
  width: 150px;
  transform-origin: right;
  transform: translateX(-50%);
  animation: slide .5 ease;
}
@keyframes slide{
  0%{
      transform: scale(0);
  }
  100%{
      transform: scale(1);
  }
}
.dishes:hover .check-circle{
  transform: rotate(540deg);
}
.check-circle{
  background-color: #fff;
  color: #99e2d0;
  border-radius: 50%;
  padding: 1px;
  height: 30px;
  display: flex;
  align-items: center;
  align-self: center;
  transform: rotate(180deg);
  transition-duration: .5s;
}
.check{
  padding: 6px 8px 6px 8px;
  transform: rotate(180deg);
}
.line{
  border-bottom: solid 2px #99e2d0;
}
.order-btn{
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
  justify-content: center;
}
.order:hover{
  box-shadow: 0px 4px 4px darkgray;
}
.order{
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  text-align: center;
  padding: 8px 40px 8px 40px;
}
.bold{
  font-weight: bold;
  display: block;
  flex-direction: row;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.price{
  font-weight: bold;
}
/*footer*/
footer{
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  padding-left: 15px;
  color: white;
}
.title{
  font-size: 20px;
  font-style: italic;
  font-family: 'Shrikhand', cursive;
}
.footer-icon{
  color: white;
}
@media only screen and (min-width: 320px) and (max-width: 730px){
  img,.picture{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: unset;
  }
  .menu-wrapper{
    background: none;
  }
  #menu-1,
  #menu-2,
  #menu-3,
  #menu-4{
  min-width: 320px;
  max-width: 730px;
  background-color: #eaeaea;
  }
  .dishes:hover .dishes-animation{
    width: 100px;
  }
  .container-1,
  .container-2,
  .container-3,
  .container-4{
    background-image: none;
  }
}