body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    width: 900px;
    margin: auto;
    padding: 0%;
  }
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}
#menu-1,
#menu-2,
#menu-3,
#menu-4{
  background-color: rgba(235, 235, 235, 0.973);
  padding-left: 20px;
  padding-right: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
a{
  text-decoration: none;
}
.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 35px;
}
h3{
  display: inline-block;
  padding-left: 10px;
  border-bottom: solid 2px #99e2d0;
}
.menu-title{
  font-family: 'Shrikhand', cursive;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-left: 11px;
  padding-right: 11px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
}
.menu-logo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 300px;
}
#title{
  font-family: 'Shrikhand', cursive;
}
.dishes{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 6px 6px lightgray;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.line{
  padding: 5px;
}
.picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.arrow{
  color: black;
}
.order-btn{
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
  justify-content: center;
}
.order{
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  text-align: center;
  padding: 8px 40px 8px 40px;
}
.bold{
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.side-dish{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price{
  font-weight: bold;
}
/*footer*/
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: justify;
}